* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.conteiner {
    background-color: #EFEFEF;
}
.navigation {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
.nav-item {
    display: inline-block;
}
.link {
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    text-decoration: none;
}