* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.conteiner {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.nav-item {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}
.nav-item:last-child {
    margin-right: 0;
}

.link {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.link:hover {
    color: #a89e9e;
}
.first-screen {
    background-color: #EFEFEF;
    text-align: center;
    padding: 16px 0 17px 0;
}
.second-screen {
    background-color: #FFFFFF;
    padding: 20px 0;
    text-align: center;

}
.clearfix {
    clear: both;
}
.slogan {
    float: left;
}
.contact {
    float: right;
}
.logo {
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #F13C6E;
    margin: 20px 0 0 20px;
    text-decoration: none;
}
.logo:hover {
    color: #be1948;
}
.second-screen > .conteiner {
    width: 1110px;
}
.cell {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 30px 40px 0 0;
    display: inline-block;
    text-decoration: none;
}
.cell:hover {
    color: rgb(191, 194, 201);
}
.button {
    padding: 10px 24px 11px 25px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #F13C6E;
    border-radius: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.button:hover {
    background-color: #F13C6E;
    color: #FFFFFF;
}
.third-screen {
    background-color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
}
.link.third {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 30px 40px 30px 0;
}
.third:hover {
    color: #a89e9e;
}