* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.conteiner {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.nav-item {
    display: inline-block;
    margin-right: 30px;
}
.nav-item:last-child {
    margin-right: 0;
}

.link {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.link:hover {
    color: #817676;
}
.firstscreen {
    background-color: #EFEFEF;
    text-align: center;
    padding: 16px 0 17px 0;
}