* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.conteiner {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.nav-item {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}
.nav-item:last-child {
    margin-right: 0;
}

.link {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.link:hover {
    color: #a89e9e;
}
.first-screen {
    background-color: #EFEFEF;
    text-align: center;
    padding: 16px 0 17px 0;
}
.second-screen {
    background-color: #FFFFFF;
    padding: 20px 0;
    text-align: center;

}
.clearfix {
    clear: both;
}
.slogan {
    float: left;
}
.contact {
    float: right;
}
.logo {
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #F13C6E;
    margin: 20px 0 0 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.logo:hover {
    color: #be1948;
}
.second-screen > .conteiner {
    width: 1110px;
}
.cell {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 30px 40px 0 0;
    display: inline-block;
    text-decoration: none;
}
.cell:hover {
    color: rgb(191, 194, 201);
}
.button {
    padding: 10px 24px 11px 25px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #F13C6E;
    border-radius: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.button:hover {
    background-color: #F13C6E;
    color: #FFFFFF;
}
.third-screen {
    background-color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
}
.link.third {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 30px 40px 30px 0;
}
.third:hover {
    color: #a89e9e;
}
.chair-screen {
    background-color: #F13C6E;
}
.colone {
    float: left;
    color: #FFFFFF;
}
.box {
    background-image: url(image/header.png);
    height: 604px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
}
.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-top: 192px;
}
.text {
    font-size: 14px;
    line-height: 20px;
    max-width: 308px;
    margin-top: 50px;
    margin-bottom: 60px;
}
.else {
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-decoration: none;
    padding: 10px 24px 11px 25px;
    color: #FFFFFF;
    display: inline-block;
}
.else:hover {
    background-color: #FFFFFF;
    color: black;
}
.title-buy {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 38px;

}
.buychair-screen {
    background-color: #EFEFEF;
    padding: 80px 0 100px 0;
}
.buychair-screen > .conteiner {
    display: block;
}
.buy-staff {
    background: #FFFFFF;
    width: 255px;
    text-align: center;
    float: left;
    margin-right: 30px;
}
.buy-staff:nth-last-of-type(2) {
    margin-right: 0px;
}
.text-staff {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    max-width: 195px;
    display: inline-block;
    margin-bottom: 20px;
}
.price {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: 20px;
}
.buy-button {
    background: #F13C6E;
    border-radius: 30px;
    margin-bottom: 25px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 9px 40px 9px 39px;
}